<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading"><%= current_user.role %> Portal</li>
    <li class="nav-item">
      <%= link_to dashboard_path, class: "nav-link #{'collapsed' unless on_dashboard?}" do %>
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to  notifications_path, class: "nav-link #{'collapsed' unless on_notifications?}" do %>
        <i class="bi bi-bell"></i>
        <span>Notices</span>
      <% end %>
    </li>
    <li class="nav-heading"><%= current_user.teacher? ? 'Teaching' : 'Learning' %></li>
    <% if current_user.student? || current_user.parent? %>
      <li class="nav-item">
        <%= link_to user_results_path(current_user.student? ? current_user : current_user.student ), class: "nav-link #{'collapsed' unless on_reports_index?}" do %>
          <i class="bi bi-bar-chart-steps"></i>
          <span>Reports</span>
        <% end %>
      </li>
    <% elsif current_user.teacher? %>
      <li class="nav-item">
        <%= link_to students_path, class: "nav-link #{'collapsed' unless on_students?}" do %>
          <i class="bi bi-people"></i>
          <span>Students</span>
        <% end %>
      </li>
    <% end %>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#assignments-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-book"></i><span>Assignments</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="assignments-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <% current_user.classroom_subjects&.each do |csub| %>
          <% if current_user.teacher? %>
            <li>
              <%= link_to classroom_subject_assignments_path(csub) do %>
                <i class="bi bi-circle"></i>
                <span>
                  <% option1 = "(#{Classroom.grades[csub.classroom.grade]} #{csub.classroom.room})"  %>
                  <% option2 = csub.teacher == current_user ? "" : "(#{csub.teacher.display_name})" %>
                  <%= csub.name %> <%= csub.classroom != current_user.classroom ? option1 : option2 %>
                </span>
              <% end %>
            </li>
          <% else %>
            <% if current_user.classroom.subjects.include? csub.subject %>
              <li>
                <%= link_to classroom_subject_assignments_path(csub) do %>
                  <i class="bi bi-circle"></i><span><%= csub.name %></span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#subjects-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Subjects</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="subjects-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <% current_user.classroom_subjects&.each do |csub| %>
          <% if current_user.teacher? %>
            <li>
              <%= link_to csub do %>
                <i class="bi bi-circle"></i>
                <span>
                  <% option1 = "(#{Classroom.grades[csub.classroom.grade]} #{csub.classroom.room})"  %>
                  <% option2 = csub.teacher == current_user ? "" : "(#{csub.teacher.display_name})" %>
                  <%= csub.name %> <%= csub.classroom != current_user.classroom ? option1 : option2 %>
                </span>
              <% end %>
            </li>
          <% else %>
            <% if current_user.classroom.subjects.include? csub.subject %>
              <li>
                <%= link_to csub do %>
                  <i class="bi bi-circle"></i><span><%= csub.name %></span>
                <% end %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </li>
    <li class="nav-heading">Administration</li>
    <li class="nav-item">
      <%= link_to profile_users_path, class: "nav-link #{'collapsed' unless on_user_profile?}" do %>
        <i class="bi bi-person"></i>
        <span>Account</span>
      <% end %>
    </li>
    <% if current_user.parent? %>
      <li class="nav-item">
        <%= link_to payments_path, class: "nav-link #{'collapsed' unless on_payments_index?}" do %>
          <i class="bi bi-currency-dollar"></i>
          <span>Payments</span>
        <% end %>
      </li>
    <% end %>
    <% if current_user.teacher? %>
      <li class="nav-item">
        <%= link_to student_attendances_path, class: "nav-link #{'collapsed' unless on_student_attendances?}" do %>
          <i class="bi bi-calendar2-minus"></i>
          <span>Register</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</aside>
