<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading"><%= current_user.teacher? ? "Teacher" : 'Students' %> Portal</li>
    <li class="nav-item">
      <%= link_to dashboard_path, class: "nav-link #{'collapsed' unless on_dashboard?}" do %>
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to @topic.classroom_subject, class: "nav-link collapsed" do %>
        <i class="bi bi-stack"></i>
        <span><%= @topic.classroom_subject.name %></span>
      <% end %>
    </li>
    <li class="nav-heading">
      <%= truncate @topic.title, length: 25 %> - Lessons
      <% if current_user.teacher? %>
        <%= link_to new_topic_lesson_path(@topic) do %>
          <i class="bi bi-plus-circle float-end text-secondary"></i>
        <% end %>
      <% end %>
    </li>
    <% @topic.lessons.each.with_index do |lesson, index| %>
      <% if lesson.persisted? %>
        <li class="nav-item">
          <%= link_to topic_lesson_path(@topic, lesson), class: "nav-link #{'collapsed' unless on_dashboard?} #{'active' if @lesson&.id == lesson.id}" do %>
            <span class="topic-number"><%= index + 1 %></span>
            <span><%= truncate lesson.title, length: 25 %></span>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</aside>
