<% cache message do %>
  <% if message.persisted? %>
    <div data-controller='message' data-message-sender-id-value="<%= message.user.id %>"  class="message">
      <span id='current-user' class='d-none'><%= current_user.full_name %></span>
      <span id='threadable_id' class='d-none'><%= message.threadable.id %></span>
      <strong><%= message.user.full_name %></strong>
      <span class="date"><%= message.created_at.to_s(:long) %></span>
      <br>
      <%= message.content %>
    </div>
  <% end %>
<% end %>
