<div class="section-title">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <p><%= @topic.title %></p>
    <% if current_user.teacher? %>
      <div class="d-flex align-items-center">
        <%= link_to 'New Lesson', new_topic_lesson_path(@topic), class: 'btn btn-outline-primary btn-sm' %>
        <span class="mx-2"></span>
        <%= link_to 'Edit Topic', edit_classroom_subject_topic_path(@topic.classroom_subject, @topic), class: 'btn btn-sm btn-outline-success' %>
      </div>
    <% end %>
  </div>
  <h2>Description</h2>
  <div><%= @topic.description %></div>
</div>
<div class="section-title mt-4">
  <h2>Lessons</h2>
</div>
<div class="courses">
  <div class="row">
    <%= render @topic.lessons %>
  </div>
</div>
