<%= bootstrap_form_with(model: notification, data: {'controller'=>'notice-form'}) do |form| %>
  <%= render 'shared/form_alert', resource: notification %>
  <%= form.text_field :title, floating: true %>
  <%= form.text_area :content, floating: true, rows: '4', control_class: 'form-control h-100' %>
  <div class="row">
    <div class="col-md-6">
      <%= form.select :tag, Notification.tags.keys, floating: true %>
    </div>
    <div class="col-md-6">
      <%= form.select :to, Notification.tos.keys, floating: true, label: 'Notice To',
      wrapper: { data: { 'notice-form-target' => 'to' } } %>
    </div>
  </div>
  <div data-notice-form-target="searchIndividuals" class="row mb-3">
    <% if notification.persisted? %>
      <p class="mb-0 small">Notified Users</p>
      <div class="flex mb-3">
        <% notification.users.uniq.each do |user| %>
          <span disabled=true style="cursor: none;" class="btn btn-secondary btn-sm"><%= user.full_name %></span>
        <% end %>
      </div>
    <% end %>
    <%= react_component("SearchIndividuals") %>
  </div>
  <%= form.primary %>
<% end %>
