<% if @user == current_user || current_user.admin? %>
  <%= bootstrap_form_for user, url: @user == current_user ? registration_path(:user) : user_path(user) , html: {data: {controller: 'user-form'}} do |f| %>
    <%= render 'shared/form_alert', resource: user %>
    <div class="row mb-3">
      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
      <div data-controller='avatar-upload' class="col-md-8 col-lg-9">
        <%= image_tag user.avatar_path, {data: {'avatar-upload-target' => 'avatar'}} %>
        <%= image_tag user.avatar_path, class: 'd-none', data: {'avatar-upload-target' => 'originalAvatar'} %>
        <%= f.file_field :avatar, label_class: 'd-none', hide_label: true, control_class: "d-none", data: { 'avatar-upload-target' => 'input'}, 'accept'=>'image/*' %>
        <div class="pt-2">
          <button type='button' data-action="click->avatar-upload#pick" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></button>
          <button type='button' data-action="click->avatar-upload#reset" class="btn btn-danger btn-sm" title="Remove profile image"><i class="bi bi-trash"></i></button>
        </div>
      </div>
    </div>
    <%= f.hidden_field :id %>
    <div class="row">
      <div class="col-md-6"><%= f.text_field :first_name, required: true %></div>
      <div class="col-md-6"><%= f.text_field :last_name, required: true %></div>
    </div>
    <div class="row">
      <div class="col-md-4"><%= f.text_field :phone, required: true %></div>
      <div class="col-md-4"><%= f.text_field :address, required: true %></div>
      <div class="col-md-4"><%= f.text_field :city, required: true %></div>
    </div>
    <div class="row">
      <div class="col-md-4"><%= f.text_field :email, required: true %></div>
      <div class="col-md-4"><%= f.text_field :id_no, required: true %></div>
      <div class="col-md-4"><%= f.select :gender, User::GENDER_TYPES %></div>
    </div>
    <div class="row">
      <div class="col-md-6"><%= f.date_field :start_date, required: true %></div>
      <div class="col-md-6"><%= f.date_field :date_of_birth, required: true %></div>
    </div>
    <% if current_user.admin? %>
      <div class="row">
        <% unless current_user == user %>
          <div class="col">
            <%= f.select :role, User.roles.keys, wrapper: { data: { 'user-form-target' => 'role' } } %>
          </div>
        <% end %>
        <% unless user.admin? %>
          <div class="col">
            <%= f.select :grade, User.grades.keys, wrapper: { data: { 'user-form-target' => 'grade' } } %>
          </div>
          <div class="col">
            <%= f.select :room, Rooms::TYPES, wrapper: { data: { 'user-form-target' => 'room' } } %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= f.primary %>
  <% end %>
<% end %>
