<div class="section-title">
  <p><%= user.role %></p>
  <h2>Profile</h2>
</div>
<section class="section profile">
  <div class="row">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          <%= image_tag user.avatar_path, class: 'rounded-circle mb-3' %>
          <h2 class='text-center'><%= user.full_name %></h2>
          <h3><%= user.role %></h3>
          <% if user.classroom %>
            <h4><%= user.classroom_name %></h4>
          <% end %>
        </div>
      </div>
      <% unless current_user == user %>
        <% if false %>
          <%= button_to private_threads_path(user_id: user.id), class: 'btn btn-outline-primary w-100' do %>
            Message
          <% end %>
        <% end %>
        <% if current_user.admin? %>
          <%= button_to 'Delete', user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger w-100 mt-3' %>
        <% end %>
        <% if current_user.admin? && user.student? %>
          <%= link_to 'Add Payment', new_user_student_payment_path(user), class: 'btn btn-outline-success w-100 my-3' %>
        <% end %>
      <% end %>
    </div>
    <div class="col-xl-8 mt-3 mt-md-0">
      <div class="card">
        <div class="card-body pt-3">
          <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
              <button class="nav-link <%= 'active' unless @edit  %>" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
            </li>
            <% if user == current_user || current_user.admin? || current_user == user.teacher %>
              <% unless current_user.parent? || current_user.student? %>
                <li class="nav-item">
                  <button class="nav-link <%= 'active' if (@edit && !@edit_password)  %>"" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit</button>
                </li>
              <% end %>
            <% end %>
            <% if user == current_user %>
              <li class="nav-item">
                <button class="nav-link <%= 'active' if @edit_password %>"  data-bs-toggle="tab" data-bs-target="#profile-change-password">
                  Security
                </button>
              </li>
            <% end %>
            <% if user.student?  %>
              <% if current_user == user.teacher_account || current_user==user || current_user.admin? || user == current_user.student %>
                <li class="nav-item">
                  <button data-bs-toggle="tab" data-bs-target="#parent-details" class="nav-link">Parent</button>
                </li>
              <% end %>
            <% end %>
            <% if user.student? %>
              <% if current_user==user || current_user.admin? %>
                <li class="nav-item">
                  <button data-bs-toggle="tab" data-bs-target="#payment-details" class="nav-link">Payments</button>
                </li>
              <% end %>
            <% end %>
          </ul>
          <div class="tab-content pt-2">
            <div class="tab-pane fade <%= 'show active' unless @edit %> profile-overview" id="profile-overview">
              <%= render 'users/profile_overview', user: user %>
            </div>
            <% if user == current_user || current_user.admin? || current_user == user.teacher %>
              <% unless current_user.parent? || current_user.student? %>
                <div class="tab-pane fade <%= 'show active' if (@edit && !@edit_password) %> profile-edit pt-3" id="profile-edit">
                  <%= render 'users/profile_edit_form', user: user %>
                </div>
              <% end %>
            <% end %>
            <% if user == current_user %>
              <div class="tab-pane fade pt-3 <%= 'show active' if @edit_password %>" id="profile-change-password">
                <%= render 'users/change_password_form', user: user %>
              </div>
            <% end %>
            <% if user.student? %>
              <% if current_user.admin? || current_user == user || current_user == user.parent || current_user == user.teacher_account %>
                <div class="tab-pane fade pt-2 profile-overview" id="parent-details">
                  <% if user&.parent&.persisted? %>
                    <%= render 'parents/parent', parent: user.parent %>
                  <% else %>
                    <% if current_user.admin? || current_user.teacher? || current_user.parent? %>
                      <%= link_to 'Add Parent Details', new_user_student_parent_path(user), class: 'btn btn-primary btn-lg' %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
            <% if user.student? %>
              <% if user==current_user || current_user.admin? %>
                <div data-controller='payment-details' class="tab-pane fade pt-2 profile-overview" id="payment-details">
                  <div data-payment-details-target='owing'>
                    <%= render 'users/payment_summary', user: user %>
                  </div>
                  <% if user.student? && current_user.admin? %>
                    <div class='d-none' data-payment-details-target='form'>
                      <%= bootstrap_form_with(model: user, url: update_owing_user_student_payments_url(user)) do |f| %>
                        <%# this is a temporary field & will be removed after the system is in motion %>
                        <%= f.text_field :previous_owing, help: 'Amount owed prior in previous terms' %>
                        <div class="d-flex justify-content-between">
                          <%= f.primary 'Update Owing Amount' %>
                          <% if current_user.admin? %>
                            <button data-action="click->payment-details#toggleForm" class='btn btn-outline-danger btn-sm'>Cancel</button>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
