<div class="container mt-5 pt-5">
  <% if notice %>
    <div class='alert alert-info' id="notice"><%= notice %></div>
  <% end %>
  <% if current_user&.admin? %>
    <div data-controller="calendar">
      <%= render 'schedules/calendar_header' %>
      <%= tag.div nil, data: {schedules: @schedules.to_json}, id: "calendar"%>
    </div>
  <% else %>
    <div data-controller="readonly-calendar">
      <%= render 'schedules/calendar_header' %>
      <%= tag.div nil, data: {schedules: @schedules.to_json}, id: "calendar"%>
    </div>
  <% end %>
  <br>
  <br>
</div>
