    <!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo d-flex align-items-center">
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag "impali-logo.svg", class: "img-fluid" %>
      <% end %>
      <%= link_to root_path do %>
        <span>Impali</span>
        <span class="hide-on-medium">Primary</span>
        <span class='hide-on-medium'>School</span>
      <% end %>
    </h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    <nav id="navbar" class="navbar">
      <ul>
        <% if controller_name == "home" %>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Subjects</a></li>
          <li><a class="nav-link scrollto o" href="#portfolio">Gallery</a></li>
          <li><a class="nav-link scrollto" href="#team">Staff</a></li>
          <%# <li><a class="nav-link scrollto" href="#pricing">Fees</a></li> %>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
        <% end %>
        <li><%= link_to "Calendar", schedules_path, class: "nav-link", :"data-no-turbolink" => true %></li>
        <li>
          <% if current_user %>
            <%= link_to "Dashboard", dashboard_path, class: "getstarted" %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "getstarted" %>
          <% end %>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
<!-- End Header -->
