<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <%= render 'shared/alerts' %>
        <h1>Impali Primary School</h1>
        <h2 style="color: black">
          Effective E-Learning & School Management
        </h2>
      </div>
    </div>
    <div class="text-center">
      <a href="#about" class="btn-get-started scrollto">Learn More</a>
    </div>
    <div class="row gy-4 mt-5 justify-content-center aos-init aos-animate">
      <div class="col-xl-2 col-md-4" data-aos="zoom-in" data-aos-delay="200">
        <%= render IconBoxComponent.new(
            title: 'Integrity', 
            icon: 'ri-stack-line', 
            ) %>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="zoom-in" data-aos-delay="300">
        <%= render IconBoxComponent.new(
          title: 'Teamwork', 
          icon: 'ri-calendar-todo-line',
          ) %>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="zoom-in" data-aos-delay="300">
        <%= render IconBoxComponent.new(
          title: 'Commitment', 
          icon: 'ri-palette-line',
          ) %>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="zoom-in" data-aos-delay="400">
        <%= render IconBoxComponent.new(
          title: 'Transparency', 
          icon: 'ri-command-line', 
          ) %>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="zoom-in" data-aos-delay="500">
        <%= render IconBoxComponent.new(
          title: 'Empathy', 
          icon: 'ri-fingerprint-line'
          ) %>
      </div>
    </div>
  </div>
</section>
