   <!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>School Gallery</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="row" data-aos="fade-up" data-aos-delay="150">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-infrastructure">Infrastructure</li>
          <li data-filter=".filter-events">Events</li>
          <li data-filter=".filter-sports">Sports</li>
        </ul>
      </div>
    </div>
    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
      <div class="col-lg-4 col-md-6 portfolio-item filter-infrastructure">
        <div class="portfolio-wrap">
          <%= image_tag 'home/gallery/infrastructure/school-view.jpeg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>Infrastructure</h4>
            <p>East Wing</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/gallery/infrastructure/school-view.jpeg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="East Wing"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-events">
        <div class="portfolio-wrap">
          <%= image_tag 'home/gallery/events/event1.jpeg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>Event 1</h4>
            <p>Events</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/gallery/events/event1.jpeg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Event 1"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-infrastructure">
        <div class="portfolio-wrap">
          <%= image_tag 'home/gallery/infrastructure/school-view2.jpeg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>Infrastructure</h4>
            <p>School Building</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/gallery/infrastructure/school-view2.jpeg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Infrastructure"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-events">
        <div class="portfolio-wrap">
          <%= image_tag 'home/gallery/events/official-opening.jpeg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>Official Opening</h4>
            <p>Events</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/gallery/events/official-opening.jpeg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Official Opening"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-sports">
        <div class="portfolio-wrap">
          <%= image_tag 'home/portfolio/portfolio-5.jpg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>Web 2</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/portfolio/portfolio-5.jpg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-infrastructure">
        <div class="portfolio-wrap">
          <%= image_tag 'home/portfolio/portfolio-6.jpg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>App 3</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/portfolio/portfolio-6.jpg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-events">
        <div class="portfolio-wrap">
          <%= image_tag 'home/gallery/events/event2.jpeg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>Event 2</h4>
            <p>Events</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/gallery/events/event2.jpeg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Event 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-events">
        <div class="portfolio-wrap">
          <%= image_tag 'home/gallery/events/event3.jpeg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>Event 3</h4>
            <p>Events</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/gallery/events/event3.jpeg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Event 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-sports">
        <div class="portfolio-wrap">
          <%= image_tag 'home/portfolio/portfolio-9.jpg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>Web 3</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/portfolio/portfolio-9.jpg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 portfolio-item filter-events">
        <div class="portfolio-wrap">
          <%= image_tag 'home/gallery/events/event5.jpeg', class: 'img-fluid' %>
          <div class="portfolio-info">
            <h4>Prize Giving Day</h4>
            <p>Events</p>
            <div class="portfolio-links">
              <a href="<%= image_path 'home/gallery/events/event5.jpeg' %>" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Prize Giving Day"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Portfolio Section -->
