<%= render 'home/hero' %>
<main id="main">
  <%= render 'home/about' %>
  <%= render 'home/counts' %>
  <%= render 'home/about_video' %>
  <%= render 'home/subjects' %>
  <%= render 'home/cta' %>
  <%# <%= render 'home/clients' %>
  <%= render 'home/portfolio' %>
  <%= render 'home/team' %>
  <%# <%= render 'home/pricing' %>
  <%#= render 'home/faq' %>
  <%= render 'home/contact' %>
</main>
