<div class="section-title mt-3">
  <div class="d-flex align-items-center justify-content-between">
    <p><%= @report_comment.user.full_name %></p>
    <p><%= @report_comment.user.classroom.name %></p>
  </div>
  <h2>New Report Comments <%= Date.today.year %> <%= SchoolTerm.get %></h2>
</div>
<div class="card">
  <div class="card-body">
    <h3 class="card-title">Fill the form below to add comments to the student's report</h3>
    <%= render 'form', report_comment: @report_comment %>
  </div>
</div>
