<% cache lesson do %>
  <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
    <div class="course-item">
      <%= image_tag lesson.banner_image_path, class: 'img-fluid lesson-image' %>
      <div class="course-content">
        <% unless lesson.topic == @topic %>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4><%= link_to truncate(lesson.topic.title, length: 35), classroom_subject_topic_path(lesson.topic.classroom_subject, lesson.topic), class: 'text-white' %></h4>
          </div>
        <% end %>
        <h3><%= link_to truncate(lesson.title, length: 25), topic_lesson_path(lesson.topic, lesson) %></h3>
        <div class="trainer d-flex justify-content-between align-items-center">
          <span>Lesson <%= lesson.order %></span>
          <span class="text-muted fs-6"><%= lesson.created_at.to_s(:short) %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
