<div class="section-title">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
    <p><%= @lesson.title %></p>
    <% if @lesson.is_teacher?(current_user) %>
      <div class="d-flex align-items-center">
        <%= link_to 'Edit Lesson', edit_topic_lesson_path(@topic, @lesson) , class: 'btn btn-sm btn-outline-success' %>
        <span class="mx-2"></span>
        <%= link_to 'Delete Lesson', topic_lesson_path(@topic, @lesson), class: 'btn btn-outline-danger btn-sm', method: :delete, data: {confirm: 'Are you sure'} %>
      </div>
    <% end %>
  </div>
  <h2 class='d-none d-md-block'><%= @lesson.topic.title %> - Lesson <%= @lesson.number %></h2>
</div>
<h2 class="h6 text-secondary d-md-none"><%= @lesson.topic.title %> - Lesson <%= @lesson.number %></h2>
<div class="mt-2 mb-3">
  <% if @lesson.video_url && !@lesson.video_url.nil? && !@lesson.video_url.blank? %>
    <%= embed(@lesson.video_url, {width: '100%', height: '400px', allowfullscreen: true, rel: false}).html_safe %>
  <% end %>
</div>
<% if @lesson.document.attached? %>
  <div class="mt-2">
    <h6 class='fw-bold'>Resource</h6>
    <%= link_to @lesson.document.filename, url_for(@lesson.document) %>
  </div>
  <hr>
<% end %>
<div class="lesson-content">
  <%= @lesson.content %>
</div>
