<div class="card info-card revenue-card">
  <div class="filter">
    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      <li class="dropdown-header text-start">
        <h6>Filter</h6>
      </li>
      <li>
        <%= link_to 'Today', dashboard_path(revenue: 'Today'), class: 'dropdown-item' %>
      </li>
      <li>
        <%= link_to 'This Month', dashboard_path(revenue: 'Month'), class: 'dropdown-item' %>
      </li>
      <li>
        <%= link_to 'This Week', dashboard_path(revenue: 'Week'), class: 'dropdown-item' %>
      </li>
      <li>
        <%= link_to 'All', dashboard_path, class: 'dropdown-item' %>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Revenue <span>| <%= params[:revenue] ? revenue_name(params[:revenue])  : 'All' %></span></h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-currency-dollar"></i>
        </div>
        <div class="ps-3">
          <h6><%= number_to_currency @revenue, precision: 0 %></h6>
          <span class="text-success small pt-1 fw-bold">
            <%= Payment.total_students_paid params[:revenue] %>
          </span>
          <span class="text-muted small pt-2 ps-1">students paid</span>
        </div>
      </div>
    </div>
  </div>
</div>
