<% if current_user.admin? %>
  <div class="section-title">
    <p>
      <span class='text-muted'>Hello,</span>
      <strong><%= current_user.full_name %></strong>
    </p>
    <% if current_user.admin? %>
      <h2>Dashboard</h2>
    <% end %>
  </div>
  <%= render 'admin' %>
<% else %>
  <div class="section-title">
    <p>Hello, <%= current_user.full_name %></p>
  </div>
  <div class="courses">
    <div class="row">
      <div class="col-md-7">
        <% if current_user.teacher? || current_user.student? %>
          <div class="section-title">
            <h2>My Classes</h2>
          </div>
          <div id="accordionFlush" class="accordion accordion-flush pb-5 mb-2">
            <% current_user.classroom_subjects.each do |csub| %>
              <div class="accordion-item px-4">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%= csub.id %>" aria-expanded="false">
                    <span class='fw-bold fs-5'><%= csub.name %></span>
                    <span class="mx-sm-1"></span>
                    <small class='small text-muted fw-light'>
                      <% if current_user.teacher? %>
                        (<%= csub.classroom.name %>)
                      <% else %>
                        <%= csub.teacher.display_name %>
                      <% end %>
                    </small>
                  </button>
                </h2>
                <div id="flush-collapse-<%= csub.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
                  <div class="accordion-body">
                    <p>
                      <% label = pluralize(csub.topics.count, 'Topic') %>
                      <%= link_to label, csub %>
                    </p>
                    <p><%= pluralize csub.lessons.count, 'Lesson' %></p>
                    <p>
                      <% label = pluralize(csub.assignments.count, 'Assignment') %>
                      <%= link_to label, classroom_subject_assignments_path(csub) %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if current_user.recent_assignments(5).any? %>
          <div class="section-title">
            <h2>Recent Assignments</h2>
          </div>
          <% cache current_user.recent_assignments do %>
            <% current_user.recent_assignments.each do |assignment| %>
              <%= render 'assignments/recent_assignment', assignment: assignment %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-5">
        <% if @topics.any? %>
          <div class="section-title">
            <h2>Recent Topics</h2>
          </div>
          <% cache @topics do %>
            <% @topics.each do |topic| %>
              <% cache topic do %>
                <%= render 'topics/topic', topic: topic %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
