<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @parent.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @parent.title %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @parent.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parent.email %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @parent.occupation %>
</p>

<p>
  <strong>Id no:</strong>
  <%= @parent.id_no %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
