<%= form_with(model: student_attendance) do |form| %>
  <% if student_attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_attendance.errors.count, "error") %> prohibited this student_attendance from being saved:</h2>

      <ul>
        <% student_attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :present %>
    <%= form.check_box :present %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
