<%= bootstrap_form_with(model: classroom_subject) do |form| %>
  <%= name = classroom_subject.name %>
  <%= render 'shared/form_alert', resource: classroom_subject %>
  <div data-controller="autocomplete" data-autocomplete-url-value="<%= teachers_autocomplete_users_path %>">
    <%= form.text_field :teacher_name, floating: true, data: {'autocomplete-target' => 'input'}, required: true, class: "#{'is-invalid' if classroom_subject.errors[:teacher_id].any?}" %>
    <%= form.text_field :teacher_id, data: {'autocomplete-target' => 'hidden'}, hide_label: true %>
    <div class="list-group" data-autocomplete-target="results"></div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <%= form.number_field :paper1_totalmarks, label: name + ' Paper 1 - Total Marks' %>
    <%= form.number_field :paper2_totalmarks, label: name + ' Paper 2 - Total Marks', help: 'Enter 0 when there is no Paper 2' %>
  </div>
  <%= form.primary %>
<% end %>
<style>
  #classroom_subject_teacher_id {
    display: none;
  }
  .invalid-feedback {
    margin-top: -0.65em;
  }
</style>
