<p id="notice"><%= notice %></p>

<h1>Classroom Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Classroom</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classroom_subjects.each do |classroom_subject| %>
      <tr>
        <td><%= classroom_subject.subject_id %></td>
        <td><%= classroom_subject.classroom_id %></td>
        <td><%= classroom_subject.teacher_id %></td>
        <td><%= link_to 'Show', classroom_subject %></td>
        <td><%= link_to 'Edit', edit_classroom_subject_path(classroom_subject) %></td>
        <td><%= link_to 'Destroy', classroom_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classroom Subject', new_classroom_subject_path %>
