<div class="col-md-12">
  <div class="top-selling">
    <table class="table table-borderless">
      <thead>
        <th>#</th>
        <th>Due Date</th>
        <th>Name</th>
        <th>Questions</th>
        <th class='text-center'>Score</th>
      </thead>
      <tbody>
        <% cache @answers do %>
          <% @answers.each do |answer| %>
            <% cache [answer, answer.assignment] do %>
              <tr>
                <td><%= answer.id %></td>
                <td class="<%= answer.assignment.late? ? 'text-dark' : 'text-danger' %>"><%= answer.assignment.due.to_s(:long) %></td>
                <% name = answer.assignment.classroom_subject.name + " Assignment " + answer.assignment.number.to_s %>
                <td><%= link_to name, assignment_assignment_answer_url(answer.assignment, answer) %></td>
                <td>
                  <span class="badge bg-secondary">
                    <%= pluralize answer.assignment.questions.count, 'Question' %>
                  </span>
                </td>
                <% if answer.assignment.late? %>
                  <td class='text-center <%= answer.score < 50 ? 'text-danger' : 'text-success' %>'>
                    <%= number_to_percentage answer.score, precision: 0 %>
                  </td>
                <% else %>
                  <td class='text-center'>
                    &mdash;
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @answers %>
  </div>
</div>
