<!DOCTYPE html>
<html>
  <%= render "shared/head" %>
  <body class='portal' data-controller='toggle-sidebar'>
    <%= render 'shared/portal/header' %>
    <% if on_messages? || @on_messages || on_contact_messages? %>
      <%= render 'messages/sidebar' %>
    <% elsif on_subject?  %>
      <%= render 'shared/portal/subject_sidebar' %>
    <% elsif on_topic? %>
      <%= render 'shared/portal/topic_sidebar' %>
    <% else %>
      <% if current_user.admin? %>
        <%= render 'shared/portal/admin_sidebar' %>
      <% else %>
        <%= render 'shared/portal/sidebar' %>
      <% end %>
    <% end %>
    <main id="main" class="main">
      <%= render 'shared/alerts' %>
      <%= yield %>
    </main>
  </body>
</html>
